<div class="ui borderless main menu fixed">
    <div class="ui container">
         {% assign current = page.url | downcase | split: '/' %}
        <a class=" header item" href="/">
            <img class="logo" src="/images/logo.png" />
        </a>
        <a class="item " href="/#about-me">About</a> 
        <a class="item {% if current[1] == 'blog' %} active {% endif %}" href="/blog/">Blog</a> 
        <a class="item {% if current[1] == 'offerings' %} active {% endif %}" href="/offerings/">Offerings</a> 
        <div class="right item">
            <a href="/contact/" class="ui circular basic olive button">Contact</a>
        </div>
    </div>
</div>