.hero-bg {
    background-image: url("/images/tree-boat.jpg");
    background-size: cover;
}

.no-border-nav {
    border: none !important;
}

.post.container {
    margin: 0 auto;
}

// p {
//     font-family: 'Roboto', sans-serif!important;
// }
// h1, 
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: 'Oswald', sans-serif!important;
// }
body.gray-hero,
.gray-hero {
    background: #eef2f3;
}

.center-avatar {
    border: 7px solid #fff;
    margin-top: -5%;
    margin-bottom: -5%;
}

.homepage-hero {
    background-image: url('/images/stock-flower.jpg');
    background-size: cover;
    background-position-y: 0px; 
    @media (min-width: 1600px)  {
      background-position-y: -510px; 
    }
    @media (min-width: 1050px) and (max-width: 1599px)  {
      background-position-y: -250px; 
    }
}
