.hero-bg {
  background-image: url("/images/tree-boat.jpg");
  background-size: cover;
}

.no-border-nav {
  border: none!important;
}


.post.container {
  margin: 0 auto;
}


p {
  font-family: 'Roboto', sans-serif!important;
}

h1, h2, h3, h4, h5 ,h6 {
  font-family: 'Oswald', sans-serif!important;
}


.gray-hero {
  background: #eef2f3;
}

