.hero-bg {
    background-image: url("/images/snowy-trees.jpg");
    background-size: cover;
}

.no-border-nav {
    border: none !important;
}

.post.container {
    margin: 0 auto;
}

body.grey-hero,
.grey-hero {
background: #F5F5F5;
}

.center-avatar {
    border: 7px solid #fff;
    margin-top: -5%;
    margin-bottom: -5%;
}

.homepage-hero {
    .ui.text.container {
        position: relative;
        z-index: 1;
    }
}
