p {
  font-family: 'Lora', serif!important;
  font-size: 1.4rem;
  @media (max-width: 630px){
    font-size: 1.1rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif!important;
}

#about-me {

  p {
    font-size: 1.2rem;
  }
}
.description p {
  font-size: 1.2rem;
}
video {
  width: 100%;
}

.post-title h1.header {
  color: #ffffff;
  font-size: 2.9rem;
  margin-top: 33.33vh;
  letter-spacing: 2px;
  @media only screen and (max-width: 700px) {
    font-size: 2em;
  }
}

.post-content h2 {
  margin-top: 3rem;
}

.date {
  display: inline-block;
  font-weight: 400;
  font-size: .85714286em;
  font-style: normal;
  margin: 0 0 0 .5em;
  padding: 0;
  color: rgba(0, 0, 0, .4);
}
.social-wrap {
  float: right;
}

.section {
  padding: 60px 0px;
}

.subsection {
  padding-top: 30px;
}
.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 2em;
  margin-bottom: 0em;
  font-size: 6em;
  font-weight: normal;
  @media only screen and (max-width: 700px) {
    font-size: 2em;
  }

}
#about-me {
      border-bottom: 1px solid rgba(189, 195, 199, 0.42);
}
.masthead h2.ui.header {
      font-size: 2em;
    font-weight: normal;
    word-spacing: 1px;
    letter-spacing: 2px;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.3em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.ui.left.fixed.vertical.menu {
  @media (max-width: 1575px) {
    display: none;
  }
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h2.ui.header {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  #home-heading {
    position: relative;
    top: 100px;

  }
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#Container .mix{
  display: none;
}

section.section {
  padding: 60px 0px;
}
section.subsection {
  margin-top: 30px;
}