<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.js"></script>
      <script src="/javascripts/imageScroll.min.js"></script>
       <script src=" https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
     <script src="/javascripts/instagramLite.js"></script>

<script>
$(document).ready(function() {

    $(function() {
        $('#instagram').instagramLite({
            clientID: 'd5e686153b8e40faaf39f30df6872308',
            username: 'yogi_jerz',
            list: true,
            urls: true,
            loadMore: '.load-more-insta',
            limit: 8
        });

    });
    $('.parallax').imageScroll({

    });


});
</script>
<script>
$(document).ready(function() {
    $(window).scroll(headerParallax);
    function headerParallax() {
        var st = $(window).scrollTop();
        var headerScroll = $('#home-heading');
        if (st < 500) {
            headerScroll.css('opacity', 1 - st / 300);
            headerScroll.css({
                '-webkit-transform': 'translateY(' + st / 7 + '%)',
                '-ms-transform': 'translateY(' + st / 7 + '%)',
                transform: 'translateY(' + st / 7 + '%)'
            });
        }
    }
});
</script>
<script>(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));</script>
  </body>

</html>
