---
layout: default
---


<div class="ui left fixed vertical menu">
  <a class="item" href="/">
    <img class="ui small circular bordered image" src="/images/jersey-square.jpg">
  </a>
  <a class="item" href="/">Home</a>
  <a class="item" href="/blog/">Blog</a>
  <a class="item">Contact</a>
</div>
<div class="ui vertical stripe segment">
    <div class="ui text container">
        <header class="post-header">
            <h1 class="header">{{ page.title }}</h1>
            <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>
        <article class="post-content">
            {{ content }}
        </article>
    </div>
</div>
