---
layout: default
---
<div class="ui vertical masthead center aligned segment" style="background-image: url('{{ page.featured-image }}'); background-size:cover;">
    <div class="ui text container">
        <header class="post-title">
            <h1 class="header text-shadow">{{ page.title }}</h1>
        </header>
    </div>
</div>
<div class="ui text container">
    <article class="post-content">
        <section class="section">
            {{ content }}
            <!--   <div class="ui divider"></div> -->
        </section>
    </article>
    <section class="section">
        <div class="ui two column center aligned grid">
            <div class="row">
                <div class="column">
                    {% if page.previous %}
                    <a href="{{ page.previous.url }}">
                        <img class="ui rounded fluid image" style="margin: 0 auto;" src="{{ page.previous.thumbnail }}">
                    </a>
                    </br>
                    <a class="ui labeled icon button" href="{{ page.previous.url }}"><i class="left arrow icon"></i>Previous
            Post

        </a>
                    <h5>{{ page.previous.title }}</h5> {% endif %}
                </div>
                <div class="column">
                    {% if page.next %}
                    <a href="{{ page.next.url }}">
                        <img class="ui rounded fluid image" style="margin: 0 auto;" src="{{ page.next.thumbnail }}">
                    </a>
                    </br>
                    <a class="ui right labeled icon button" href="{{ page.next.url }}"><i class="right arrow icon"></i>Next Post

                    </a>
                    <h5>{{ page.next.title }}</h5> {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="section">
    
                    <img style=" width: 30%; 
                                height: auto;
                                float: left;
                                margin-right:4rem;
                                margin-top: 30px; 
                                border-radius: 50%;
                                -webkit-shape-outside:circle();
                                shape-outside:circle();"
                         src="{{ page.author-image }}">
                <div class="content">
                    <h2 class="ui header">
                        {% if page.author %}
                        {{ page.author }}
                        {% endif%}
                    </h2>
                
                        <p>{{ site.author-bio }}</p>
                        {% if page.social %}
                            <section class="subsection">
                                {% include social.html %}
                            </section>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="ui text container">
    {% if page.comments %} {% include disqus.html %} {% endif %}
    </div>