---
layout: default
---
<div class="ui vertical masthead center aligned segment" style="background-image: url('{{ page.featured-image }}'); background-size:cover;">
    <div class="ui text container">
        <header class="post-title">
            <h1 class="header text-shadow">{{ page.title }}</h1>
        </header>
    </div>
</div>
<div class="ui text container">
    <article class="post-content">
        <section class="section">
            {{ content }}
            <!--   <div class="ui divider"></div> -->
        </section>
    </article>
    <section class="section">
        <div class="ui two column center aligned grid">
            <div class="row">
                <div class="column">
                    {% if page.previous %}
                    <a href="{{ page.previous.url }}">
                        <img class="ui rounded fluid image" src="{{ page.previous.thumbnail }}">
                    </a>
                    </br>
                    <a class="ui labeled icon button" href="{{ page.previous.url }}"><i class="left arrow icon"></i>Previous
            Post

        </a>
                    <h5>{{ page.previous.title }}</h5> {% endif %}
                </div>
                <div class="column">
                    {% if page.next %}
                    <a href="{{ page.next.url }}">
                        <img class="ui rounded fluid image" src="{{ page.next.thumbnail }}">
                    </a>
                    </br>
                    <a class="ui right labeled icon button" href="{{ page.next.url }}"><i class="right arrow icon"></i>Next Post

                    </a>
                    <h5>{{ page.next.title }}</h5> {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="ui items">
            <div class="item">
                <a class="ui small image">
                    <img style="border-radius: 50%;" src="{{ page.author-image }}">
                </a>
                <div class="content">
                    <h4 class="header">
                        {% if page.author %}
                        {{ page.author }}
                        {% endif%}
                    </h4>
                    <div class="description">
                        <p>{{ site.author-bio }}</p>
                        <section class="subsection">
                            {% include social.html %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if page.comments %} {% include disqus.html %} {% endif %}